<aside>"
    <%= link_to "back", cabins_path, class: "btn btn-success" %>
</aside>
<section>
<h1>People assign to <%= @cabin.name %></h1>
<ul class="list-group">
    <% @cabin.people.each do |person| %>
    <li class="list-group-item">
        <%= person.firstname + person.lastname %></td>
    </li>
    <% end %>
</ul>
</section>