<section>
<h1>People assign to <%= @cabin.name %></h1>
<aside>
    <%= link_to "back", cabins_path %>
</aside>
<table>
    <% @cabin.people.each do |person| %>
    <tr>
        <td><%= person.firstname + person.lastname %></td>
    </tr>
    <% end %>
</table>
</section>