<div class="col-xs-12">
    <%= link_to "back", cabins_path, class: "btn btn-success" %>
</div>
<section class="col-xs-12 col-md-9">
    <h1>People assign to <%= @cabin.name %></h1>
    <ul class="list-group">
        <li>
            <span>Name</span>
            <span>Age</span>
            <button class="btn btn-danger">Remove all from cabin</button>
        </li>
        <% @cabin.people.each do |person| %>
        <li class="list-group-item">
            <span><%= person.firstname + person.lastname %></span>
            <span><%= person.age %></span>
            <button class="btn btn-warning">Remove from cabin</button>
        </li>
        <% end %>
    </ul>
</section>
<aside class="hidden-xs col-md-3">
   side content
</aside>