@import "bootstrap";

/* --- Variables */
$gray: #e7e7e7;
$blue: #065FA3;
$blue-link: #58B4F5;
$blue-link-visited: #4D9DD6;
$textColorDarkBackground : #F0F0F0;
$navasidebgcolor: #13674E;

/* Screen media queries */
$xs : 768px;
$sm : 768px;
$md : 992px;
$lg : 1200px;

/* Offsets */
$small-margin : 10px;
/* --- mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-sizing($style) {
    -webkit-box-sizing: $style;
       -moz-box-sizing: $style;
        -ms-box-sizing: $style;
            box-sizing: $style;
}

/* ---- Helpers -- */
.margin-offset-top-sm {
    margin-top:$small-margin;
}

/* ---- Styles -- */
.container-fluid, .navbar{
    margin:0;
    padding:0;
}

.navbar-header {
    
}

/* ---- Layout -- */
section, div, article, main {
    @include box-sizing(border-box)
}

main {
    display:flex;
    align-content: flex-start;
}

aside {
    flex:.5;
}

main > section:first-child {
    flex:3;
}

section:first-of-type {
    position:relative;
    padding:30px;
    > h1 {
        margin-top:0;
    }
} 
form[role=search] {
    background-color:$gray;
    position:absolute;
    padding:10px;
    width:30%;
    top:-19px;
    right:0;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    button[type="submit"]{
        width:100%;
    }
}

footer {
    color:$textColorDarkBackground;
    background:$blue;
}

li {
    padding:10px;
    margin-bottom:10px;
    span:last-of-type a{
        width:100%;
        margin-bottom:$small-margin;
        color:$textColorDarkBackground;
        
    }
}
nav.navbar-default {
    .navbar-header{
        background: #2A2A2A;
        padding: 51px;
        width: 19%;
    }
    .nav {
        position:relative;
        bottom:-26px;
        li {
            a:hover, a:visited, a:active, a, a:focus{
                color:white;
                text-decoration:none;
            }
            li {
                a:hover, a:visited, a:active, a, a:focus {
                    color:#967373;
                }
                a:hover {
                    background:$gray;
                }
            }
        }
    }
}

.graphs {
    display:flex;
    flex-direction: row;
    align-content: space-between;
    .well {
        flex:1;
        margin-left: 10px;
        margin-top: 10px;
        min-height: 151px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $xs) { 
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $md) {
   
    main {
        display:flex;
        flex-flow: row wrap;
        button {
            flex:1 100%;
        }
    }
    aside {
        display:flex 1;
        background:$gray;
    }
    section:first-of-type {
        flex:2;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $lg) {
    nav, aside {
      background-color:$navasidebgcolor !important;
      color:white;
    }
}